@keyframes slideOutFade {
  from {
    transform: translateX(0%);
    opacity: 100%;
  }

  to {
    transform: translateX(-100px);
    opacity: 0%;
  }
}
@keyframes slideInFade {
  from {
    transform: translateX(100px);
    opacity: 0%;
  }

  to {
    transform: translateX(0%);
    opacity: 100%;
  }
}

/* ::view-transition-group(header) {
    z-index: 10;
  } */

::view-transition-old(header),
::view-transition-new(header) {
  animation: none;
  mix-blend-mode: normal;
}

.colorTransition {
  transition: all 1s ease-in-out;
}
