---
import { Picture } from "astro:assets";
import ThemeToggleButton from "./ThemeToggleButton";
import shTrackerLogo from "../assets/images/shTracker.png";
---

<header
  transition:persist="header"
  transition:name="header"
  class="sticky top-0 z-50 flex w-full justify-around bg-gradient-to-t from-blue-400 to-blue-300 py-4"
>
  <div class="flex w-11/12 max-w-screen-xl items-center justify-between">
    <a href="/" class="font-semibold text-3xl"> Sh-Tracker</a>

    <nav class="flex items-center justify-center gap-12">
      <div>
        <ThemeToggleButton client:load />
      </div>
      <a class="text-xl font-semibold text-black" href="/">home</a>
      <a class="text-xl font-semibold text-black" href="/blog">blog</a>
    </nav>
  </div>
</header>
